---
# Common tasks for all FreeBSD machines.

- name: Set is_jail
  ansible.builtin.set_fact:
    is_jail: "{{ 'jails' in ansible_virtualization_tech_guest }}"
    users_have_been_moved_to_sudo: "{{ users_have_been_moved_to_sudo | default(False) }}"

- name: Check hostname
  ansible.builtin.assert:
    that: ansible_fqdn == zabbix_hostname|default(inventory_hostname)
    fail_msg: Current hostname '{{ ansible_fqdn }}' is not '{{ zabbix_hostname | default(inventory_hostname) }}'
    quiet: true
  when: not mit_basic_skip_hostname_check | default(false)

# FreeBSD uses the group wheel nearly the same as Debian uses group adm.
# We use it primarily for reading logs, so we use group sudo for sudo.
- name: Create group sudo
  ansible.builtin.group:
    name: sudo

- name: Copy /usr/local/etc/sudoers.d/local-group-wheel-tmp (deprecated, move users to group sudo)
  ansible.builtin.copy:
    src: sudoers.d/local-group-wheel-tmp
    dest: /usr/local/etc/sudoers.d/
    mode: "0440"
    validate: visudo -cf %s
  when: not users_have_been_moved_to_sudo

- name: Remove deprecated /usr/local/etc/sudoers.d/local-group-wheel-tmp
  ansible.builtin.file:
    path: /usr/local/etc/sudoers.d/local-group-wheel-tmp
    mode: "0440"
    state: absent
  when: users_have_been_moved_to_sudo

- name: Copy /etc/sudoers.d/local-mit-dedicated
  ansible.builtin.copy:
    src: sudoers.d/local-mit-dedicated
    dest: /usr/local/etc/sudoers.d/
    mode: "0440"
    validate: visudo -cf %s

# man loader.conf
- name: Set autoboot_delay="0"
  ansible.builtin.lineinfile:
    dest: /boot/loader.conf
    regexp: ^autoboot_delay=
    line: autoboot_delay="0"
  when: not is_jail

- name: Copy ssh/moduli (ssh-audit.com)
  ansible.builtin.copy:
    src: ssh/moduli-{{ ansible_distribution_version }}-ssh-audit
    dest: /etc/ssh/moduli
    mode: "644"
    group: wheel

# https://docs.freebsd.org/en/books/handbook/network-servers/#network-ntp
# 2024-05-31: Chosen ntpd as chrony has 7 dependencies
# 2025-08-12: Switched to openntpd [MIT-21449]
- name: Remove ntpd (base) configuration
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^{{ item }}=
    state: absent
  notify: Stop ntpd (base)
  loop:
    - ntpd_enable
    - ntpd_sync_on_start

- name: Install OpenNTPD
  ansible.builtin.package:
    name: openntpd
  when: not is_jail

- name: Set ntp server for OpenNTPD
  ansible.builtin.lineinfile:
    path: /usr/local/etc/ntpd.conf
    regexp: "^server "
    line: "server {{ ntp_server }}"
  when: ntp_server is defined
  notify: Restart openntpd

- name: Remove other ntp servers for OpenNTPD
  ansible.builtin.lineinfile:
    path: /usr/local/etc/ntpd.conf
    regexp: "^servers"
    state: absent
  when: ntp_server is defined
  notify: Restart openntpd

# Force to stop ntpd from base
- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Enable OpenNTPD
  ansible.builtin.service:
    name: openntpd
    enabled: true
    state: started
  when: not is_jail

- name: Update rc.conf
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^{{ item.property | regex_escape() }}=
    line: '{{ item.property }}="{{ item.value }}"'
  with_items:
    # 2024-07-01: Sounds like a good default
    - { property: clear_tmp_enable, value: "YES" }
    # We use syslog only local - don't open any sockets
    - { property: syslogd_flags, value: -ss }

# man periodic
# _show_success   - scripts returning 0
# _show_info      - scripts returning 1
# _show_badconfig - scripts returning 2
- name: Configure periodic output
  ansible.builtin.lineinfile:
    dest: /etc/periodic.conf
    create: true
    regexp: "^{{ item.property | regex_escape() }}:"
    line: "{{ item.property }}={{ item.value }}"
    mode: "644"
  with_items:
    - { property: daily_show_success, value: "NO" }
    - { property: weekly_show_success, value: "NO" }
    - { property: monthly_show_success, value: "NO" }
    - { property: security_show_success, value: "NO" }
    - { property: daily_status_disks_enable, value: "NO" }
    - { property: daily_status_uptime_enable, value: "NO" }
    - { property: security_status_baseaudit_enable, value: "NO" } # /usr/local/etc/periodic/security/405.pkg-base-audit
    - { property: security_status_pfdenied_enable, value: "NO" }
    - { property: security_status_pkgaudit_enable, value: "NO" }
  when: not periodic_output_enable|default(false)

# https://docs.freebsd.org/en/books/handbook/jails/#jail-upgrading
# Jails must be updated from the host operating system.
- name: Fetch all available system updates daily (freebsd-update)
  ansible.builtin.copy:
    src: 900.freebsd-update
    dest: /usr/local/etc/periodic/daily/
    mode: "0755"
  when: not is_jail

- name: Fetch all available pkg binary updates daily
  ansible.builtin.copy:
    src: 900.pkg-update
    dest: /usr/local/etc/periodic/daily/
    mode: "0755"
    # Updates all jails, too. So no need to run it inside a jail.
  when: not is_jail

- name: Remove deprecated 900.pkg-update in jail
  ansible.builtin.file:
    path: /usr/local/etc/periodic/daily/900.pkg-update
    state: absent
  when: is_jail

# https://github.com/tykling/ansible-roles/blob/master/freebsd_base/tasks/newsyslog.yml

- name: Make sure /usr/local/etc/newsyslog.conf.d/ exists
  ansible.builtin.file:
    path: /usr/local/etc/newsyslog.conf.d
    state: directory
    mode: "755"

# Equivalent to logrotate's dateext
- name: Make newsyslog use timestamps instead of sequential filenames for rotated logfiles
  ansible.builtin.lineinfile:
    dest: /etc/crontab
    regexp: "\tnewsyslog"
    line: "0\t*\t*\t*\t*\troot\tnewsyslog -t DEFAULT"
    state: present
  notify: Rename sequential logs

- name: Set etc_aliases
  ansible.builtin.stat:
    path: /etc/aliases
  register: etc_aliases

- name: Set mail alias for root -> {{ alias_root }}
  ansible.builtin.lineinfile:
    dest: /etc/aliases
    create: false
    regexp: "^root:"
    line: "root: {{ alias_root }}"
  notify: Newaliases
  when: etc_aliases.stat.exists
  tags: mail

- name: Configure DMA smarthost (1/2)
  ansible.builtin.lineinfile:
    dest: /etc/dma/dma.conf
    regexp: ^{{ item.property | regex_escape() }}
    line: "{{ item.property }}{{ item.value }}"
  loop:
    - { property: SMARTHOST, value: " {{  smtp_relayhost }}" }

- name: Configure DMA smarthost (2/2)
  ansible.builtin.lineinfile:
    dest: /etc/dma/dma.conf
    regexp: ^{{ item }}
    state: absent
  loop:
    - NULLCLIENT

- name: Configure DMA smarthost port
  ansible.builtin.lineinfile:
    dest: /etc/dma/dma.conf
    regexp: "^PORT "
    line: "PORT {{ smtp_relayhost_port }}"
  when: smtp_relayhost_port is defined

- name: Update /etc/mail/mailer.conf # noqa no-tabs
  ansible.builtin.lineinfile:
    dest: /etc/mail/mailer.conf
    regexp: ^{{ item.property | regex_escape() }}
    line: "{{ item.property }}{{ item.value }}\t/usr/libexec/dma"
  loop:
    - { property: sendmail, value: "" }
    - { property: mailq, value: "\t" }
    - { property: newaliases, value: "" }
  when: ansible_distribution_major_version|int >= 14

- name: Update /etc/mail/mailer.conf
  ansible.builtin.lineinfile:
    dest: /etc/mail/mailer.conf
    regexp: send-mail.*/usr/local/libexec/nullmailer/sendmail
    state: absent
  when: ansible_distribution_major_version|int >= 14

- name: Remove deprecated nullmailer (FreeBSD >= 14)
  ansible.builtin.package:
    name: nullmailer
    state: absent
  when: ansible_distribution_major_version|int >= 14

- name: Remove deprecated sendmail configuration (FreeBSD >= 14)
  ansible.builtin.lineinfile:
    dest: /etc/rc.conf
    regexp: ^{{ item }}=
    state: absent
  loop:
    - sendmail_enable
    - sendmail_submit_enable
    - sendmail_outbound_enable
    - sendmail_msp_queue_enable
  when: ansible_distribution_major_version|int >= 14

# https://docs.freebsd.org/de/books/handbook/disks/#disks-encrypting-geli
# Jails haben meist kein swap
- name: Check if swap is defined in /etc/fstab
  ansible.builtin.command: egrep '^(\/dev\/[a-z0-9]+).+none.+swap.+sw.+0.+0$' /etc/fstab
  changed_when: false
  failed_when: false
  register: swap_in_fstab

- name: Encrypt swap with GELI
  ansible.builtin.lineinfile:
    path: /etc/fstab
    backrefs: true
    regexp: ^(\/dev\/[a-z0-9]+)[ \t]+none[ \t]+swap[ \t]+sw[ \t]+0[ \t]+0$
    line: '\1.eli        none            swap    sw              0       0'
  when: swap_in_fstab.stdout != ""

# Either 39 or 311 (py39 py311), mit-get-python-prefix-2025-09-09
- name: Get python prefix
  ansible.builtin.shell: set -o pipefail && pkg info|egrep -o "^python[0-9]{2,3}-"|egrep -o "[0-9]+"
  register: result_python_prefix
  changed_when: false
  when: not is_jail and python_prefix is not defined
- name: Set vars
  ansible.builtin.set_fact:
    python_prefix: "{{ result_python_prefix.stdout }}"
  when: not is_jail and python_prefix is not defined
- name: Install zfs-autobackup
  ansible.builtin.package:
    name: py{{ python_prefix }}-zfs-autobackup
  when: not is_jail
- name: Set zfs_autobackup vars
  ansible.builtin.set_fact:
    zfs_autobackup_binary: /usr/local/bin/zfs-autobackup
    zfs_autobackup_storage_pool: "{{ zfs_autobackup_storage_pool | default('zroot') }}"
  when: not is_jail
- name: Setup zfs-autobackup
  ansible.builtin.include_tasks: setup-zfs-autobackup.yml
  when: not is_jail
