---
# common tasks for all Debian, Raspbian and Ubuntu machines

# #19984: Automatische Aktualisierung fuer Ubuntu Rechner: cron-apt kann genutzt werden
- name: Ensure basic packages
  apt:
    pkg:
    - chrony
    - cron-apt
    - etckeeper
    - git
    - lsb-release
    - patch
    - python3
    - sudo
    - vim
    - zsh
  tags: apt

- name: Ensure basic packages (remove deprecated)
  apt:
    state: absent
    pkg:
    - apt-listchanges

- name: Calcualte cron-apt setting
  set_fact:
    cron_apt_config: >-
      {% if enable_auto_update_system|default(True) 
        %}upgrade -y --with-new-pkgs -o APT::Get::Show-Upgraded=true
      {% else
        %}dist-upgrade -d -y -o APT::Get::Show-Upgraded=true
      {% endif %}

# https://unix.stackexchange.com/a/384977
- name: Configure timezone
  copy:
    dest: /etc/timezone
    content: "{{ timezone }}\n"
  when: timezone is defined
- name: Configure localtime
  file:
    src: /usr/share/zoneinfo/{{ timezone }}
    dest: /etc/localtime
    state: link
  when: timezone is defined

- name: Configure chrony ntp server (Debian < 11)
  ansible.builtin.lineinfile:
    path: /etc/chrony/chrony.conf
    #regexp: '^server '
    line: 'server {{ ntp_server }} iburst'
  when: ntp_server is defined and (ansible_distribution == "Debian" or ansible_distribution == "Raspbian") and ansible_distribution_major_version|int < 11
  notify: Restart chrony
    
- name: Configure chrony ntp server (Debian >= 11)
  template:
    src: etc/chrony/sources.d/local-ntp-server.sources
    dest: /etc/chrony/sources.d/local-ntp-server.sources
  # This playbook supports Debian, Raspbian and Ubuntu
  when: ntp_server | default(None) != None and (ansible_distribution == "Debian" or ansible_distribution == "Raspbian") and ansible_distribution_major_version|int > 10
  notify: Restart chrony

- name: "Configure chrony: Disabled vendor pools"
  ansible.builtin.lineinfile:
    path: /etc/chrony/chrony.conf
    backrefs: yes
    regexp: '^pool (.*)'
    line: '#pool \1'
  when: ntp_server is defined and (ansible_distribution == "Debian" or ansible_distribution == "Raspbian")

# This is needed for some Windows time server
- name: Configure chrony maxdistance
  template:
    src: etc/chrony/conf.d/local-maxdistance.conf
    dest: /etc/chrony/conf.d/
  when: chrony_maxdistance is defined

- name: Configure cron-apt
  ansible.builtin.lineinfile:
    dest: /etc/cron-apt/action.d/3-download
    regexp: Show-Upgraded=true
    line: "{{ cron_apt_config }}"
  # Raspbian reports "Debian" as ansible_distribution
  when: (ansible_distribution == "Debian")
        or (ansible_distribution == "Ubuntu" and ansible_distribution_major_version|int > 18)

- name: Set sudo group to "sudo"
  set_fact:
    sudo_group: sudo

- name: "Copy /etc/sudoers.d/local-mit-dedicated"
  template:
    src: sudoers.d/local-mit-dedicated
    dest: /etc/sudoers.d/
    mode: 0440
    validate: 'visudo -cf %s'

# sudo update-alternatives --set editor /usr/bin/vim.basic
- name: "Use vim as default editor"
  alternatives:
    name: editor
    path: /usr/bin/vim.basic
  become: yes

- stat: path=/etc/aliases
  register: etc_aliases

- name: "Set mail alias for root -> {{ alias_root }}"
  ansible.builtin.lineinfile:
    dest: /etc/aliases
    create: no
    regexp: "^root:"
    line: "root: {{ alias_root }}"
  notify: newaliases
  when: etc_aliases.stat.exists
  tags: mail

- name: "Install /etc/cron.daily/local-mit-disk-info"
  copy: src=local-mit-disk-info dest=/etc/cron.daily/local-mit-disk-info mode=0755

# 2019-03-26: All external sources should now be in /etc/apt/sources.list.d/
#     in order to provide a single /etc/apt/sources.list for all machines.
- name: "Copy default /etc/apt/sources.list"
  become: yes
  copy:
    # We use this playbook for ansible_lsb.id=(Debian|Raspbian)
    src: sources.list-Linux-{{ ansible_lsb.id }}_{{ ansible_lsb.major_release }}
    dest: /etc/apt/sources.list
  notify: Update apt cache

- name: Add 'default-terminal' to /etc/tmux.conf
  ansible.builtin.lineinfile:
    dest: /etc/tmux.conf
    create: yes
    regexp: '^set -g default-terminal "tmux-256color"'
    line: 'set -g default-terminal "tmux-256color"'
  when: ansible_distribution_major_version|int < 12

- name: Generate /etc/fstab.new if necessary
  ansible.builtin.script:
    cmd: >
      ../files/fstab-tempmounts.py -v -t '{{ mit_basic_tmp_size }}'
      /etc/fstab /etc/fstab.new
  args:
    creates: /etc/fstab.new
  changed_when: "'is up-to-date' not in fstab_tempmounts_py.stdout"
  register: fstab_tempmounts_py
  when: mit_basic_use_tmpfs_for_tmp is defined and mit_basic_use_tmpfs_for_tmp

- name: Register temp file status
  ansible.builtin.stat:
    path: /etc/fstab.new
  register: fnew
  when: mit_basic_use_tmpfs_for_tmp is defined and mit_basic_use_tmpfs_for_tmp

- name: Replace /etc/fstab if necessary
  ansible.builtin.shell:
    cmd: mv -f /etc/fstab.new /etc/fstab
  when: fnew.stat.size is defined and fnew.stat.size > 0

- name: Create /etc/tmpfiles.d/local-cleanup-tempdirs
  ansible.builtin.copy:
    src: tmpfiles.d/local-cleanup-tempdirs
    dest: /etc/tmpfiles.d/

# Harden SSH config (#21540)
- name: Replace sshd host keys
  ansible.builtin.script:
  args:
    cmd: files/sshd-replace-keys.sh '{{ cflag }}'
    creates: '{{ cflag }}'
  notify: Restart sshd
  vars:
    # Completion flag file
    cflag: /etc/ssh/.flag.local-host-keys-replaced
  when: mit_basic_harden_ssh_debian11

- name: Copy hardened sshd config
  ansible.builtin.copy:
    src: sshd-Linux-Debian_11/local-hardening.conf
    dest: /etc/ssh/sshd_config.d/
  notify: Reload sshd
  when: mit_basic_harden_ssh_debian11
