---
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/first_found_lookup.html

# We use ansible_lsb.id instead of ansible_distribution as this adds support for
# Ucs (Univention Corporate Server) which reports ansible_distribution=Debian and
# ansible_lsb.id=Univention

- name: Include ansible_system-ansible_lsb.id.yml ({{ ansible_system }}-{{ ansible_lsb.id | default('') }}.yml) # noqa: name[template]
  ansible.builtin.include_tasks: "{{ tasks_file }}"
  when: tasks_file != ""
  vars:
    tasks_file: "{{ lookup('ansible.builtin.first_found', files, errors='ignore') }}"
    files:
      - "{{ ansible_system }}-{{ ansible_lsb.id | default('') }}.yml"

# Used by opdns1 (Debian 9 without lsb_release)
- name: Include ansible_system-ansible_distribution.yml ({{ ansible_system }}-{{ ansible_distribution }}.yml) # noqa: name[template]
  ansible.builtin.include_tasks: "{{ tasks_file }}"
  when: (ansible_lsb is not defined or ansible_lsb.id is not defined) and tasks_file != ""
  vars:
    tasks_file: "{{ lookup('ansible.builtin.first_found', files, errors='ignore') }}"
    files:
      - "{{ ansible_system }}-{{ ansible_distribution }}.yml"

- name: Include ansible_system.yml
  ansible.builtin.include_tasks: "{{ ansible_system }}.yml"

- name: Include inventory_hostname.yml
  ansible.builtin.include_tasks: "{{ tasks_file }}"
  when: tasks_file != ""
  vars:
    tasks_file: "{{ lookup('ansible.builtin.first_found', files, errors='ignore') }}"
    files:
      - local/roles/{{ ansible_role_name }}/tasks/{{ inventory_hostname }}.yml

- name: Update resolv.conf
  ansible.builtin.copy:
    src: "{{ mit_basic_resolv_conf }}"
    dest: /etc/resolv.conf
    mode: "644"
  when: mit_basic_resolv_conf is defined

# Under Debian we install the latest version
# Under FreeBSD we use the one provided by pkg
- name: Setup neovim
  ansible.builtin.include_tasks: "{{ tasks_file }}"
  args:
    apply:
      tags:
        - neovim
  tags:
    - neovim
  when: tasks_file != ""
  vars:
    tasks_file: "{{ lookup('ansible.builtin.first_found', files, errors='ignore') }}"
    files:
      - "setup-neovim-{{ ansible_system }}-{{ ansible_lsb.id | default('') }}.yml"
